@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

nav.navbar{/*Color del nav bar*/
	background-color: #1AAF28;
	border: none;
}
.navbar-default .navbar-brand {/*Color del titulo*/
    color: white;
    font-size: 200%;
    font-family: 'Lobster', cursive;
}
.navbar-default .navbar-nav > li > a { /*Color de links*/
    color: #D7DBDD;
    font-family: 'Lobster', cursive;
    font-size: 130%;
}
.navbar-default .navbar-nav > li > a:hover,/*Color de links puntero sobre ellos*/
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}
.navbar-default .navbar-nav > .active > a, /*Fondo de links puntero sobre ellos*/
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #76CB7E;
    font-family: 'Lobster', cursive;
}

body{
	background-color: #CEF6E3;
	font-family: 'Indie Flower';
}
iframe{
	width:100%;
	height:360px;
	border-style: none;
	margin-top: 2%;
	border: 0;
}

a{
	color:white;
}
img{
	width: 100%;
}
footer{
	background-color:#1AAF28;
	padding: 1%;
}

.back2{
	background-color: white;
}

.icon{
	color: #1AAF28;
	font-size: 200%;
	text-align: center; 
}

.text-white{
	color: white;
}

.text-green{
	color: #1AAF28;
}
.caja{
	background-color: #1AAF28;
	width: 80%;
	margin-left: 5%;
	color: white;
	padding: 2%;
	margin-top: 10%;
}

.mt-8{
	margin-top: 8%;
}
.mt-3{
	margin-top: 3%;
	
}
.mb-2{
	margin-bottom: 2%;
}

.mb-5{
	margin-bottom: 5%;
}
.efecto img {
	border: 2px solid #eee;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.efecto img:hover {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

.shadow{
	width: 70%;
	text-shadow: 5px 10px 5px black;
	margin-left: 20%;
}